.main-div {
	background-color: aliceblue;
	/* background-color: rgb(59, 105, 146); */
}

.main-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
	/* padding: 20px; */
	padding-left: 50px;
}
.aside-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
h1 {
	font-size: 36px;
	color: rgb(191, 122, 255);
}
h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 0;
}
.cart-container {
	background-color: #fff;
	padding: 20px;
}
.blog {
	width: auto;
	margin: 50px;
	margin-bottom: 0;
	padding-bottom: 50px;
	text-align: justify;
}

@media only screen and (max-width: 600px) {
	.main-container {
		padding: 15px;
		display: flex;
		flex-direction: column;
	}
	.aside-container,
	.cart-container {
		display: block;
	}
	.cart-container {
		margin: 10px;
		margin-top: 40px;
		border-radius: 20px;
	}
	.blog h3 {
		line-height: normal;
	}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	.main-container {
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
	.aside-container,
	.cart-container {
		display: block;
		/* padding: 20px; */
	}
	.cart-container {
		margin: 10px;
		border-radius: 20px;
	}
	.aside-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
	.main-container {
		display: block;
	}
	.aside-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
	}
}
