.aside {
	width: 320px;
	height: 500px;
	margin-top: 40px;
	background-color: #fff;
	position: relative;
	border-radius: 20px;
	padding: 15px;
	box-shadow: 4px 4px 8px #d4ccc6;
}
.aside img {
	width: 100%;
	height: 160px;
	border-radius: 10px;
}
.aside h2 {
	font-size: 22px;
	font-weight: 600;
}
.aside h5,
h4 {
	line-height: 8px;
}
.btn-cart {
	width: 92%;
	background-color: #5d65f8;
	color: #fff;
	font-weight: 500;
	line-height: 10px;
	border: none;
	font-size: 18px;
	border-radius: 10px;
	position: absolute;
	bottom: 10px;
	cursor: pointer;
}
.btn-cart:hover {
	background-color: #1925fc;
}
